*{
  margin:0;padding:0;
}
a{
  text-decoration:none;
  color:white;
}
img{border:0;}
ul{list-style:none;}
body{
  font-family: 'Dongle', sans-serif;
font-family: 'Lobster', cursive;
}
.nav_bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#263343;
  padding:8px 12px;
}

.navbar_logo{
  font-size:24px;
  color:white;
}

.navbar_logo > i{
  color:orange;
}

.navbar_menu{
  display:flex;
}

.navbar_menu>li{
  padding:8px 12px;
}

.navbar_icons{
  display:flex;
}

.navbar_icons>li{
  color:white;
  padding:8px 12px;
}

.navbar_menu>li:hover{
  border-radius:5px;
  background-color:orange;
}

.navbar_toggle{
  display:none;
  position:absolute;
  right:32px;
  font-size:24px;
  color:#d49466; 
}

@media screen and (max-width:768px){
  .nav_bar{
    flex-direction:column;
    align-items:flex-start;
    padding:8px 24px;
  }
  .navbar_menu{
    display:none;
    flex-direction:column;
    align-items:center;
    width:100%;
  }
  .navbar_menu > li{
    width:100%;
    text-align:center;
  }
  .navbar_icons{
    display:none;
    justify-content: center;
    width:100%;
  }

  .navbar_toggle{
    display:block;
  }

  .navbar_menu.active,
  .navbar_icons.active{
    display:flex;
  }
}