<!--초기화-->

*{margin:0; padding:0;}
body{font-family:'Helvetica', sans-serif;}
li{list-style: none;}
a{text-decoration:none;}

#whole{
    display:flex;
    flex-direction: column;
   
}

#main_header{
    display:flex;
    justify-content:space-between;
    background:black;
    height:50px;
    line-height:50px;
    font-size:2.0em;
    align-items:center;
}

#main_header>div.header_logo{
    padding-left:15px;
}

#main_header>div.header_logo>i{
    color:red;
}

#main_header>div.header_logo>a{
    color:white;
}

#main_header>ul.header_menu{
    display:block;
    color:white;
    padding-right:15px;
}

div > #video > video{
    width:100%;
    height:40%;
}

.tags{
    display:flex;
    margin:0; padding:0;
    padding-left:10px;
    margin-bottom:-15px;
}
.tags > li > a{
    padding-right:10px;
    margin:0;
    color:blue;
}

.title{
    width:95%;
    position:relative;
}
.title>h2{
    font-size:1.5em;
}

.title>i{
    position:absolute;
    top:25px; right:0;
}

.title>p{
    margin-top:-15px;
    color:gray
}

.sub_menu{
    border-bottom:1px solid gray;
    height:80px;
    margin-top:-20px;
}

.sub_menu > ul{
    width:80%;
    display:flex;
    justify-content: space-between;
}
.sub_menu > ul > li > a{
    display:flex;
    flex-direction: column;
    align-items:center;
    color:gray;
}

.sub_menu > ul > li.active > a{
  color:blue;
}

.sub_menu > ul > li > a:hover{
    color:blue;
}

.sub_menu > ul > li > a:active{
  color:blue;
}

.box_big{
    padding-top:5px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid gray;
}

.box_big>div.box_small > a{
  display:flex;
}
.box_big > div.box_small > a > div.picture > img{
    width:60px;
    border-radius:100px;
}


.box_big > div.box_small > a > div.maker{
    padding-left:10px;
    margin-top:-10px;
}

.box_big > div.box_small > a >  div.maker > div.name{
    font-weight:bold;
    color:black;
}

.box_big > div.box_small > a > div.maker > div.num_sub{
    color:gray;
    margin-top:-15px;
}

.box_big > div.subscribe > a {
  color:black;
  font-weight:bold;
  margin-right:10px;
}

.playList{
  display:flex;
  flex-direction:column;
}

.playList > p{
  color:gray;
  padding-left:5px;
}

.playList > ul{
  margin:0; padding:0;
}

.playList > ul > li > a > img{
  width:240px;
  height:160px;
}

.playList > ul > li > a{
  display:flex;
  padding-bottom:15px;
  justify-content: center;
}

.playList > ul > li > a > div.info{
  width:60%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.playList > ul > li > a > div.info > h1{
  color:black;
  margin-left:10px;
  font-size:1.1em;
}

.playList > ul > li > a > div.info > p{
  display:block;
  margin:0; padding-bottom:7px;
  color:gray;
  margin-left:10px;
}

.playList > ul > li > a > i{
  margin-top:18px;
  margin-left:30px;
}