<!--초기화-->

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  }
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
li{list-style: none;}
ul{padding:0;}
a{text-decoration:none;}

button,
button:focus{
  border:none;
  cursor: pointer;
  outline: none;
  background:none;
}

#main_header{
    display:flex;
    justify-content:space-between;
    background:black;
    height:50px;
    line-height:50px;
    font-size:2.0em;
    align-items:center;
}

#main_header>div.header_logo{
    padding-left:15px;
}

#main_header>div.header_logo>i{
    color:red;
}

#main_header>div.header_logo>a{
    color:white;
}

#main_header>ul.header_menu{
    display:block;
    color:white;
    padding-right:15px;
}
#video{
  text-align: center;
  position:sticky;
  top:0;
  background: black;
}
#video > video{

  width:100%;
  height:100%;
  max-width:1000px;
}

.tags{
    display:flex;
    margin:0; padding:0;
    padding-left:10px;
    margin-bottom:-15px;
}
.tags > li > a{
    padding-right:10px;
    margin:0;
    color:blue;
}

.titleAndButton{
    display:flex;
    padding-top:20px;
    padding-left:10px;
    
}
.titleAndButton>span{
  font-size:1.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.titleAndButton > .moreBtn{
  height:100%;
}

.views{
  color:gray;
  margin-left:10px;
  font-size: 0.8em;
}
.title>i{
    position:absolute;
    top:2px; right:0;
}

.title>p{
    margin-top:-15px;
    color:gray
}

.sub_menu{
    border-bottom:1px solid gray;
    height:80px;
}

.sub_menu > ul{
    display:flex;
    justify-content: space-around;
}
.sub_menu > ul > li > a{
    display:flex;
    flex-direction: column;
    align-items:center;
    color:gray;
}

.sub_menu > ul > li.active > a{
  color:blue;
}

.sub_menu > ul > li > a:hover{
    color:blue;
}

.sub_menu > ul > li > a:active{
  color:blue;
}

.box_big{
    padding-top:5px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid gray;
}

.box_big>div.box_small > a{
  display:flex;
}
.box_big > div.box_small > a > div.picture > img{
    width:60px;
    border-radius:50%;
}


.box_big > div.box_small > a > div.maker{
    padding-left:10px;
    margin-top:-10px;
}

.box_big > div.box_small > a >  div.maker > div.name{
    font-weight:bold;
    color:black;
}

.box_big > div.box_small > a > div.maker > div.num_sub{
    color:gray;
    margin-top:-15px;
}

.box_big > div.subscribe > a {
  color:gray;
  font-weight:bold;
  margin-right:10px;
}

.playList{
  padding:0 10px;
  display:flex;
  flex-direction:column;
}

.playList > p{
  color:gray;
  padding-left:5px;
}

div.playList > ul{
  margin:0; padding:0;
}

.playList > ul > li > a > img{
  width:240px;
  height:160px;
}

.playList > ul > li > a{
  display:flex;
  padding-bottom:15px;
  justify-content: center;
  align-items: center;
}

.playList > ul > li > a > div.info{
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:200px;
}

.playList > ul > li > a > div.info > h1{
  color:black;
  margin-left:10px;
  font-size:0.9em;
}

.playList > ul > li > a > div.info > p{
  display:block;
  margin:0; 
  color:gray;
  margin-left:10px;
  
}

.playList > ul > li > a > button {
  height:100%;
}

@media screen and (min-width:1300px){
  .sub_bottom{
    width:95%;
    display:flex;
    justify-content: space-between;
  }
  .sub_bottom > div.right{
    margin-left:20px;
  }
}
